{% extends "base.html" %}
{% load static %}
{% block content %}
  <!-- Page Content -->
<div class="content">
    <div class="container-fluid">
    
    <div class="row">
        <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
        
            <!-- Profile Widget -->
            <div class="card widget-profile pat-widget-profile">
                <div class="card-body">
                    <div class="pro-widget-content">
                        <div class="profile-info-widget">
                            <a href="#" class="booking-doc-img">
                                <img src="assets/img/patients/patient.jpg" alt="User Image">
                            </a>
                            <div class="profile-det-info">
                                <h3><a href="patient-profile.html">{{current_patient.user.first_name}} {{current_patient.user.last_name}}</a></h3>
                                <div class="patient-details">
                                    <h5><b>Patient ID :</b> PT00{{current_patient.id}}</h5>
                                    <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i>{{current_patient.city}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="patient-info">
                        <ul>
                            <li>Phone <span>{{current_patient.user.phone_number}}</span></li>
                            <li>Age <span>38 Years, Male</span></li>
                            <li>Blood Group <span>{{current_patient.blood_group}}</span></li>
                            <li>Gender <span>{{current_patient.gender}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /Profile Widget -->
            
        </div>
    
        <div class="col-md-7 col-lg-8 col-xl-9">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title mb-0" style="display: inline-block;"> Add Prescription</h4>
                </div>
                
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="biller-info">
                                <h4 class="d-block">Dr. {{current_doctor.user.first_name}} {{current_doctor.user.last_name}}</h4>
                                <span class="d-block text-sm text-muted">{{speciality.specialized_category}}</span>
                                <span class="d-block text-sm text-muted">{{current_doctor.city}}</span>
                            </div>
                        </div>
                        <div class="col-sm-6 text-sm-right">
                            <div class="billing-info">
                                <h4 class="d-block">{% now "jS F Y" %}</h4>
                                <span class="d-block text-muted">#INV0001</span>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Add Item -->
                    <div class="add-more-item text-right">
                        <a href="javascript:void(0);"><i class="fas fa-plus-circle"></i> Add Item</a>
                    </div>
                    <!-- /Add Item -->
                    
                    <!-- Prescription Item -->
                    <div class="card card-table">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center">
                                    <thead>
                                        <tr>
                                            <th style="min-width: 200px">Name</th>
                                            <th style="min-width: 100px">Quantity</th>
                                            <th style="min-width: 100px">Days</th>
                                            <th style="min-width: 100px;">Time</th>
                                            <th style="min-width: 80px;"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for prescribe_med in prescribe_med %}
                                        {% if prescribe_med.name != '' %}

                                        <tr>
                                            <td>{{prescribe_med.name}}</td>
                                            <td>{{prescribe_med.quantity}}</td>
                                            <td>{{prescribe_med.days}}</td>
                                            <td>
                                                {{prescribe_med.morning}}+
                                                {{prescribe_med.afternoon}}+
                                                {{prescribe_med.evening}}+
                                                {{prescribe_med.night}} 
                                            </td>
                                            <td><a href="{% url 'deletePrescItem' prescribe_med.id %}" class="btn bg-danger-light trash"><i class="far fa-trash-alt"></i></a></td> 
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                        

                                        <tr>
                                        <form action="{% url 'add_prescription' current_patient.id %}" method="GET">
                                                
                                            <td>
                                                <input class="form-control" id="drugs" type="text" name="drugName">
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" name="quantity" placeholder="mg">
                                            </td>
                                            <td>
                                                <input class="form-control" type="text" name="days">
                                            </td>
                                            <td>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" name="morning" value="morning"> Morning
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" name="afternoon" value="afternoon"> Afternoon
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" name="evening" value="evening"> Evening
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" name="night" value="night"> Night
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                <!-- <a href="#" class="btn bg-danger-light trash"><i class="far fa-trash-alt"></i></a> -->
                                                <div class="add-more-item">
                                                    <button type="submit" class="btn"><i class="fas fa-plus-circle"></i>Add</a>
                                                    </button>
                                                </div>
                                            </td>
                                        </form>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /Prescription Item -->
                    
                    <!-- Signature -->
                    <div class="row">
                        <div class="col-md-12 text-right">
                            <div class="signature-wrap">
                               
                                <div class="sign-name">
                                    <p class="mb-0">( Dr. {{current_doctor.user.first_name}} {{current_doctor.user.last_name}} )</p>
                                    <span class="text-muted">Signature</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Signature -->
                    
                    <!-- Submit Section -->
                    <form action="{% url 'submitPrescription' current_patient.id %}" method="POST">
                        {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="submit-section">
                                <button type="submit" class="btn btn-primary submit-btn">Save</button>
                                <button type="reset" class="btn btn-secondary submit-btn">Clear</button>
                            </div>
                        </div>
                    </div>
                </form>
                    <!-- /Submit Section -->
                    
                </div>
            </div>
        </div>
    </div>
    
    </div>

 
    </div>		
    <!-- /Page Content -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<script>
    $( function() {
      
      $( "#drugs" ).autocomplete({
        source: "{% url 'autocomplete' %}",
      });
    } );
    </script>
{% endblock content %}

