{% extends "base.html" %}
{% load static %}

{% block content %}
  			<!-- Page Content -->
              <div class="content">
				<div class="container-fluid">

					<div class="row">
						<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
						
							<!-- Profile Sidebar -->
							<div class="profile-sidebar">
								<div class="widget-profile pro-widget-content">
									<div class="profile-info-widget">
										<a href="#" class="booking-doc-img">
											<img src="{{current_doctor.profile_image.url}}" alt="User Image">
										</a>
										<div class="profile-det-info">
											<h3>Dr.{{current_doctor.user.first_name}} {{current_doctor.user.last_name}}</h3>
											
											<div class="patient-details">
                                                {% for specialization in specialization %}
                                                  
                                                
												<h5 class="mb-0">{{specialization.specialized_category}}</h5>
                                                {% endfor %}
											</div>
										</div>
									</div>
								</div>
								<div class="dashboard-widget">
									<nav class="dashboard-menu">
										<ul>
											<li>
												<a href="{% url 'doctor_dashboard' %}">
													<i class="fas fa-columns"></i>
													<span>Dashboard</span>
												</a>
											</li>
											<li class="active">
												<a href="{% url 'appointments' %}">
													<i class="fas fa-calendar-check"></i>
													<span>Appointments</span>
												</a>
											</li>
											<li>
												<a href="{% url 'appointments' %}">
													<i class="fas fa-user-injured"></i>
													<span>My Patients</span>
												</a>
											</li>
											<li>
												<a href="{% url 'schedule_timing' current_doctor.id %}">
													<i class="fas fa-hourglass-start"></i>
													<span>Schedule Timings</span>
												</a>
											</li>
											<li>
												<a href="invoices.html">
													<i class="fas fa-file-invoice"></i>
													<span>Invoices</span>
												</a>
											</li>
											<li>
												<a href="reviews.html">
													<i class="fas fa-star"></i>
													<span>Reviews</span>
												</a>
											</li>
											
											<li>
												<a href="{% url 'doctor_profile' %}">
													<i class="fas fa-user-cog"></i>
													<span>Profile Settings</span>
												</a>
											</li>
											
											<li>
												<a href="doctor-change-password.html">
													<i class="fas fa-lock"></i>
													<span>Change Password</span>
												</a>
											</li>
											<li>
												<a href="{% url 'logout' %}">
													<i class="fas fa-sign-out-alt"></i>
													<span>Logout</span>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
							<!-- /Profile Sidebar -->
							
						</div>
						
						<div class="col-md-7 col-lg-8 col-xl-9">
							<div class="appointments">
                                {% for appointment in appointment %}
                                  
                                
								<!-- Appointment List -->
								<div class="appointment-list">
									<div class="profile-info-widget">
										<a href="patient-profile.html" class="booking-doc-img">
											<img src="{{appointment.patient.profile_image.url}}" alt="User Image">
										</a>
										<div class="profile-det-info">
											<h3><a href="patient-profile.html">{{appointment.patient.user.first_name}} {{appointment.patient.user.last_name}}</a></h3>
											<div class="patient-details">
												
												<h5><i class="fas fa-map-marker-alt"></i> {{appointment.patient.city}}</h5>
												<h5><i class="fas fa-envelope"></i>{{appointment.patient.user.email}}</h5>
												<h5 class="mb-0"><i class="fas fa-phone"></i>{{appointment.patient.user.phone_number}}</h5>
											</div>
										</div>
									</div>
									<!-- <div class="appointment-action">
										<a href="#" class="btn btn-sm bg-info-light" data-toggle="modal" data-target="#appt_details">
											<i class="far fa-eye"></i> View
										</a>
										<a href="javascript:void(0);" class="btn btn-sm bg-success-light">
											<i class="fas fa-check"></i> Accept
										</a>
										<a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
											<i class="fas fa-times"></i> Cancel
										</a>
									</div> -->
								</div>
								<!-- /Appointment List -->
                                {% endfor %}
								
								
							</div>
						</div>
					</div>

				</div>

			</div>		
			<!-- /Page Content -->
{% endblock content %}