{% extends "base.html" %}
{% block content %}
  <!-- Page Content -->
<div class="content">
    <div class="container-fluid">
    
    <div class="row">
        <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
        
            <!-- Profile Sidebar -->
            <div class="profile-sidebar">
                <div class="widget-profile pro-widget-content">
                    <div class="profile-info-widget">
                        <a href="#" class="booking-doc-img">
                            <img src="{{doctor.profile_image.url}}" alt="User Image">
                        </a>
                        <div class="profile-det-info">
                            <h3>Dr.{{doctor.user.first_name}} {{doctor.user.last_name}}</h3>
                            
                            <div class="patient-details">
                                <h5 class="mb-0">BDS, MDS - Oral & Maxillofacial Surgery</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dashboard-widget">
                    <nav class="dashboard-menu">
                        <ul>
                            <li>
                                <a href="{% url 'doctor_dashboard' %}">
                                    <i class="fas fa-columns"></i>
                                    <span>Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="appointments.html">
                                    <i class="fas fa-calendar-check"></i>
                                    <span>Appointments</span>
                                </a>
                            </li>
                            <li>
                                <a href="my-patients.html">
                                    <i class="fas fa-user-injured"></i>
                                    <span>My Patients</span>
                                </a>
                            </li>
                            <li class="active">
                                <a href="{% url 'schedule_timing' doctor.id %}">
                                    <i class="fas fa-hourglass-start"></i>
                                    <span>Schedule Timings</span>
                                </a>
                            </li>
                            <!-- <li>
                                <a href="invoices.html">
                                    <i class="fas fa-file-invoice"></i>
                                    <span>Invoices</span>
                                </a>
                            </li> -->
                            <li>
                                <a href="reviews.html">
                                    <i class="fas fa-star"></i>
                                    <span>Reviews</span>
                                </a>
                            </li>
                            <li>
                                <a href="chat-doctor.html">
                                    <i class="fas fa-comments"></i>
                                    <span>Message</span>
                                    <!-- <small class="unread-msg">23</small> -->
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'doctor_profile' %}">
                                    <i class="fas fa-user-cog"></i>
                                    <span>Profile Settings</span>
                                </a>
                            </li>
                            <li>
                                <a href="social-media.html">
                                    <i class="fas fa-share-alt"></i>
                                    <span>Social Media</span>
                                </a>
                            </li>
                            <li>
                                <a href="doctor-change-password.html">
                                    <i class="fas fa-lock"></i>
                                    <span>Change Password</span>
                                </a>
                            </li>
                            <li>
                                <a href="index-2.html">
                                    <i class="fas fa-sign-out-alt"></i>
                                    <span>Logout</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /Profile Sidebar -->
            
        </div>
        
        <div class="col-md-7 col-lg-8 col-xl-9">
         
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        
                                    <!-- Schedule Content -->
                                    <div class="schedule-cont">
                                    
                                        <!-- Sunday Slot -->
                                       
                                        <div id="slot_monday" class="tab-pane fade show">
                                            <h4 class="card-title d-flex justify-content-between">
                                                <span>Time Slots</span> 
                                                <!-- <a class="edit-link btn" data-toggle="modal" href="#" data-target="#edit_time_slot"><i class="fa fa-edit mr-1"></i>Edit</a> -->
                                            </h4>

                                        <div class="col-md-12">
                                            <form action="{% url 'schedule_timing' doctor.id %}" method="POST">
                                                {% csrf_token %}
                                            <div class="form-row">
 
                                                <!-- <input type="hidden" value="monday" name="day"> -->
                                                <div class="col-md-3 mb-3">
                                                    <label for="">From</label>
                                                    <select class="form-control" name="time_from" id="">
                                                        <option selected="true" disabled="disabled">Time From</option>
                                                        {% for key, value in fromTimeChoice.items %}
                                                            <option value="{{key}}">{{value}}</option>
                                                        {% endfor %}
                                                        
                                                    </select>
                                                </div>
                                                <div class="col-md-3 mb-3">
                                                    <label for="">To</label>
                                                    <select class="form-control" name="time_to" id="">
                                                        
                                                        <option selected="true" disabled="disabled">Time to</option>
                                                        {% for key, value in toTimeChoice.items %}
                                                            <option value="{{key}}">{{value}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-md-3 mb-3">
                                                    <label for="">Date</label>
                                                    <input type="date" class="form-control" name="appointment_date">
                                                </div>
                                                <div class="col-md-2" style="margin-top: 35px;">
                                                    <button type="submit" class="btn btn-primary submit-btn ">Save</button>
                                                </div>
                                                
                                            
                                            </div>
                                            </form>
                                        </div>
                                            
                                           
                                        </div>
                                        
                                    </div>
                                    <!-- /Schedule Content -->
                                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                       
                    </div>
                </div>
            </div>
                
        </div>
    </div>
    
</div>
    
 </div>		
    <!-- /Page Content -->





{% endblock content %}