{% extends "base.html" %}
{% load static %}

{% block content %}
  <!-- Page Content -->
<div class="content">
    <div class="container-fluid">
    
    <div class="row">
    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar dct-dashbd-lft">
    
    <!-- Profile Widget -->
    <div class="card widget-profile pat-widget-profile">
    <div class="card-body">
    <div class="pro-widget-content">
        <div class="profile-info-widget">
            <a href="#" class="booking-doc-img">
                <img src="{{patient.profile_image.url}}" alt="User Image">
                
            </a>
            <div class="profile-det-info">
                <h3></h3>
                
                <div class="patient-details">
                    <h5><b>Name : {{patient.user.first_name}} {{patient.user.last_name}}</b></h5>
                    <h5 class="mb-0"> </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="patient-info">
        <ul>
            <li>Phone: <span>{{patient.user.phone_number}}</span></li>
            <!-- <li>Age: <span></span></li> -->
            <li>Blood Group: <span>{{patient.blood_group}}</span></li>
        </ul>
    </div>
    </div>
    </div>
    <!-- /Profile Widget -->
    
    <!-- Last Booking -->
    <div class="card">
    <div class="card-header">
    <h4 class="card-title">Last Booking</h4>
    </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">
        <div class="media align-items-center">
            <div class="mr-3">
                <!-- <img alt="Image" src="#" class="avatar  rounded-circle"> -->
            </div>
            <div class="media-body">
                <h5 class="d-block mb-0"> </h5>
                <span class="d-block text-sm text-muted"></span>
                <span class="d-block text-sm text-muted"></span>
            </div>
        </div>
    </li>

    </ul>
    </div>
    <!-- /Last Booking -->
    
    </div>
    
    <div class="col-md-7 col-lg-8 col-xl-9">
        <div class="card">
            <div class="card-body">
                
                <!-- Profile Settings Form -->
                <form action="{% url 'patients_profile' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row form-row">
                        
                        <div class="col-12 col-md-12">
                            <div class="form-group">
                                <div class="change-avatar">
                                    <div class="profile-img">
                                        <img src="{{patient.profile_image.url}}" alt="User Image">
                                       
                                    </div>
                                    <div class="upload-img">
                                        <div class="change-photo-btn">
                                            <span><i class="fa fa-upload"></i> Upload Photo</span>
                                            <!-- <input type="file" class="upload" name="profile_pic"> -->
                                            {{ form.profile_image }}
                                        </div>
                                        <small class="form-text text-muted">Allowed JPG, GIF or PNG. Max size of 2MB</small>
                                    </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" value="{{patient.user.first_name}}">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" value="{{patient.user.last_name}}">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Email ID</label>
                                <input type="email" class="form-control" value="{{patient.user.email}}">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Mobile</label>
                                <input type="text" value="{{patient.user.phone_number}}" class="form-control">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Date of Birth</label>
                                <div class="">
                                    <input type="date" class="form-control" value="" name="dateOfBirth">
                                    <!-- {{form.date_of_birth}} -->
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Blood Group</label>
                                <select class="form-control select" name="blood_group">
                                    <option>A-</option>
                                    <option>A+</option>
                                    <option>B-</option>
                                    <option>B+</option>
                                    <option>AB-</option>
                                    <option>AB+</option>
                                    <option>O-</option>
                                    <option>O+</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Gender</label>
                                <select class="form-control select" name="gender">
                                    <option>Male</option>
                                    <option>Female</option>
                                   
                                </select>
                            </div>
                        </div>

                        <!-- <div class="col-12">
                            <div class="form-group">
                            <label>Address</label>
                                <input type="text" class="form-control" value="" name="address">
                            </div>
                        </div> -->
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>City</label>
                                <!-- <input type="text" class="form-control" value="" name="city"> -->
                                {{form.city}}
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>State</label>
                                <!-- <input type="text" class="form-control" value="" name="state"> -->
                                {{form.state}}
                            </div>
                        </div>
                        <!-- <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Zip Code</label>
                                <input type="text" class="form-control" value="" name="zip">
                            </div>
                        </div> -->
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label>Country</label>
                                {{form.country}}
                                <!-- <input type="text" class="form-control" value="" name=country> -->
                            </div>
                        </div>
                    </div>
                    <div class="submit-section">
                        <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
                    </div>
                </form>
                <!-- /Profile Settings Form -->
                
            </div>
        </div>
    </div>
</div>

</div>		
    <!-- /Page Content -->
{% endblock content %}