{% load static %}

<!-- Header -->
<header class="header">
    <nav class="navbar navbar-expand-lg header-nav">
        <div class="navbar-header">
            <a id="mobile_btn" href="javascript:void(0);">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
            <a href="{% url 'home' %}" class="navbar-brand logo">
                <!-- <img src="{% static 'img/logoN.png' %}" class="img-fluid" alt="Logo"> -->
                <h3 style="color: #0A808A; font-weight:bold;">MediHelp</h3>
            </a>
        </div>
        <div class="main-menu-wrapper">
            <div class="menu-header">
                <a href="{% url 'home' %}" class="menu-logo">
                    <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="Logo">
                </a>
                <a id="menu_close" class="menu-close" href="javascript:void(0);">
                    <i class="fas fa-times"></i>
                </a>
            </div>
            <ul class="main-nav">
                <li class="active">
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="has-submenu">
                    <a href="{% url 'doctors' %}">Doctors</i></a>
                    <!-- <ul class="submenu">
                        <li><a href="doctor-dashboard.html">Doctor Dashboard</a></li>
                        <li><a href="appointments.html">Appointments</a></li>
                        <li><a href="schedule-timings.html">Schedule Timing</a></li>
                        <li><a href="my-patients.html">Patients List</a></li>
                        <li><a href="patient-profile.html">Patients Profile</a></li>
                        <li><a href="chat-doctor.html">Chat</a></li>
                        <li><a href="invoices.html">Invoices</a></li>
                        <li><a href="doctor-profile-settings.html">Profile Settings</a></li>
                        <li><a href="reviews.html">Reviews</a></li>
                        <li><a href="doctor-register.html">Doctor Register</a></li>
                    </ul> -->
                </li>	
                <!-- <li class="has-submenu">
                    <a href="#">Patients</a>
                    <ul class="submenu">
                        <li><a href="search.html">Search Doctor</a></li>
                        <li><a href="doctor-profile.html">Doctor Profile</a></li>
                        <li><a href="booking.html">Booking</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="booking-success.html">Booking Success</a></li>
                        <li><a href="patient-dashboard.html">Patient Dashboard</a></li>
                        <li><a href="favourites.html">Favourites</a></li>
                        <li><a href="chat.html">Chat</a></li>
                        <li><a href="profile-settings.html">Profile Settings</a></li>
                        <li><a href="change-password.html">Change Password</a></li>
                    </ul>
                </li>	 -->
                <li class="has-submenu">
                    <a href="#">Services </a>
                    <!-- <ul class="submenu">
                        <li><a href="voice-call.html">Voice Call</a></li>
                        <li><a href="video-call.html">Video Call</a></li>
                        <li><a href="search.html">Search Doctors</a></li>
                        <li><a href="calendar.html">Calendar</a></li>
                        <li><a href="components.html">Components</a></li>
                        <li class="has-submenu">
                            <a href="invoices.html">Invoices</a>
                            <ul class="submenu">
                                <li><a href="invoices.html">Invoices</a></li>
                                <li><a href="invoice-view.html">Invoice View</a></li>
                            </ul>
                        </li>
                        <li><a href="blank-page.html">Starter Page</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                        <li><a href="forgot-password.html">Forgot Password</a></li>
                    </ul> -->
                </li>
                <li class="has-submenu">
                    <a href="#">About Us </a>
                </li>
                <li class="has-submenu">
                    <a href="#">Contact</a>
                </li>
                <!-- <li>
                    <a href="admin/index.html" target="_blank">Admin</a>
                </li> -->

            </ul>		 
        </div>		
          
        <ul class="nav header-navbar-rht">
            <li class="nav-item contact-item">
                <div class="header-contact-img">
                    <i class="far fa-hospital"></i>
                    <!-- <p class="contact-info-header"><a href="">Register</a></p> -->
                </div>
                <div class="header-contact-detail">
                    {% if user.is_authenticated %}
                        <p class="contact-header">Welcome | {{ user.first_name }}</p>
                        {% if user.user_type == 'doctor' %}
                            <p class="contact-info-header"><a href="{% url 'doctor_dashboard' %}">Dashboard</a></p>
                        {% else %}
                        <p class="contact-info-header"><a href="{% url 'patient_dashboard' %}">Dashboard</a></p>
                        {% endif %}
                        
                    {% else  %}

                    {% endif %}
                </div>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link header-login" href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link header-login" href="{% url 'login' %}">Login</a>
            </li>
                <li class="nav-item">
                    <a class="nav-link header-login" href="{% url 'register' %}">Register </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</header>
<!-- /Header -->