{% extends "base.html" %}
{% load static %}

{% block content %}
  			
<!-- Page Content -->
<div class="content">
    <div class="container-fluid">
    
    <div class="row">
    <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar dct-dashbd-lft">
    
    <!-- Profile Widget -->
    <div class="card widget-profile pat-widget-profile">
    <div class="card-body">
    <div class="pro-widget-content">
        <div class="profile-info-widget">
            <a href="#" class="booking-doc-img">
                <img src="{{current_patient.patient.profile_image.url}}" alt="User Image">
            </a>
            <div class="profile-det-info">
                <h3>{{current_patient.user.first_name}} {{current_patient.user.last_name}}</h3>
                
                <div class="patient-details">
                    <h5><b>Patient ID :</b> PT00{{current_patient.id}}</h5>
                    <h5 class="mb-0"><i class="fas fa-map-marker-alt"></i> {{current_patient.city}}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="patient-info">
        <ul>
            <li>Phone <span>{{current_patient.user.phone_number}}</span></li>
            <li>Age <span>38 Years</span></li>
            <li>Blood Group <span>{{current_patient.blood_group}}</span></li>
            <li>Gender <span>{{current_patient.gender}}</span></li>
        </ul>
    </div>
    </div>
    </div>
    <!-- /Profile Widget -->
    
    
    </div>
    
    <div class="col-md-7 col-lg-8 col-xl-9 dct-appoinment">
    <div class="card">
    <div class="card-body pt-0">
    <div class="user-tabs">
        <ul class="nav nav-tabs nav-tabs-bottom nav-justified flex-wrap">
            <li class="nav-item">
                <a class="nav-link active" href="#pres" data-toggle="tab"><span>Prescription</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#medical" data-toggle="tab"><span class="med-records">Medical Insurance</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#billing" data-toggle="tab"><span>Billing</span></a>
            </li> 
        </ul>
    </div>
    <div class="tab-content">
 
        
        <!-- Prescription Tab -->
        <div class="tab-pane fade show active" id="pres">
            <div class="text-right">
                <a href="{% url 'add_prescription' current_patient.id %}" class="add-new-btn">Add Prescription</a>
            </div>
            <div class="card card-table mb-0">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Patient Name</th>									
                                    <!-- <th>Created by </th> -->
                                    <th>Prescription File</th>
                                </tr>     
                            </thead>
                            <tbody>
                                {% for prescriptions in prescriptions %}
                                  

                                <tr>
                                    <td>{{prescriptions.id}}</td>
                                    <td>{{prescriptions.patient.user.first_name}} {{prescriptions.patient.user.last_name}}</td>
                                    
                                    
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="{% url 'getPrescriptionForDoc' prescriptions.patient.id %}" class="btn btn-sm bg-info-light"><i class="far fa-eye"></i> View</a>
                                        </h2>
                                    </td>
                                  
                                </tr>
                               
                                {% endfor %}
                            </tbody>	
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Prescription Tab -->
    
        <!-- Medical Records Tab -->
        <div class="tab-pane fade" id="medical">
            <!-- <div class="text-right">		
                <a href="#" class="add-new-btn" data-toggle="modal" data-target="#add_medical_records">Add Medical Records</a>
            </div> -->
            <div class="card card-table mb-0">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Date </th>
                                    <th>Description</th>
                                    <th>Attachment</th>
                                    <th>Created</th>
                                    <th></th>
                                </tr>     
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="javascript:void(0);"></a></td>
                                    <td></td>
                                    <td></td>
                                    <td><a href="#"></a></td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                                                <!-- <img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-01.jpg" alt="User Image"> -->
                                            </a>
                                            <a href="doctor-profile.html"><span></span></a>
                                        </h2>
                                    </td>
                                    <td class="text-right">
                                        <div class="table-action">
                                            <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                <i class="fas fa-print"></i> Print
                                            </a>
                                            <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                <i class="far fa-eye"></i> View
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>  	
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Medical Records Tab -->
        
        <!-- Billing Tab -->
        <div class="tab-pane" id="billing">
            <div class="text-right">
                <a class="add-new-btn" href="add-billing.html">Add Billing</a>
            </div>
            <div class="card card-table mb-0">
                <div class="card-body">
                    <div class="table-responsive">
                    
                        <table class="table table-hover table-center mb-0">
                            <thead>
                                <tr>
                                    <th>Invoice No</th>
                                    <th>Doctor</th>
                                    <th>Amount</th>
                                    <th>Paid On</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <a href="invoice-view.html"></a>
                                    </td>
                                    <td>
                                        <h2 class="table-avatar">
                                            <a href="doctor-profile.html" class="avatar avatar-sm mr-2">
                                                <!-- <img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-01.jpg" alt="User Image"> -->
                                            </a>
                                            <a href="doctor-profile.html"> <span></span></a>
                                        </h2>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td class="text-right">
                                        <div class="table-action">
                                            <a href="javascript:void(0);" class="btn btn-sm bg-primary-light">
                                                <i class="fas fa-print"></i> Print
                                            </a>
                                            <a href="javascript:void(0);" class="btn btn-sm bg-info-light">
                                                <i class="far fa-eye"></i> View
                                            </a>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Billing Tab -->
                
</div>
</div>
</div>
</div>
</div>

</div>

</div>		
    <!-- /Page Content -->
{% endblock content %}